<div ng-controller="PeopleFormCtrl">
	<form ng-submit="getProfile(userId)" class="form-horizontal">
		<input ng-model="userId" type="text" class="input-large" autofocus="autofocus" placeholder="Enter user ID or 'me'"/>
		<button type="submit" class="btn">Get Profile</button>
		<button ng-click="getCircles(userId)" type="button" class="btn">Get Circles</button>
	</form>
	<form ng-submit="searchPeople(query)" class="form-horizontal">
		<input ng-model="query" type="text" class="input-large" autofocus="autofocus" placeholder="Search for someone..."/>
		<button type="submit" class="btn">Search People</button>
	</form>
	<form class="form-horizontal">
		<input ng-model="activityId" type="text" class="input-large" placeholder="Enter activity ID"/>
		<button ng-click="getPlusOners(activityId)" class="btn">Get +1'ers</button>
		<button ng-click="getResharers(activityId)" class="btn">Get Resharers</button>
	</form>
</div>