<h1>User Info</h1>

<div class="row">
	<div class="span6">
		<form class="form-horizontal">
			<div class="control-group">
				<div class="controls">
					<a href="{{profile.link}}" target="_blank">Google Profile Page</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Profile ID:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.id}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">E-mail:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.email}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Display Name:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.name}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">First Name:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.given_name}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Last Name:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.family_name}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Gender:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.gender}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Locale:</label>
				<div class="controls">
					<span class="uneditable-input input-large">{{profile.locale}}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Picture:</label>
				<div class="controls">
					<img ng-src="{{profile.picture}}" />
				</div>			
			</div>
		</form>
	</div>
	<div class="span6">
		<p>OAuth2 scopes:</p>
		<pre>https://www.googleapis.com/auth/userinfo.profile<br/>https://www.googleapis.com/auth/userinfo#email</pre>
		<p>The second scope is only needed to include the e-mail address in the response.</p>
		<p>Code example:</p>
		<pre>GoogleUserProfile profile =<br>        google.userOperations().getUserProfile();</pre>
	</div>
</div>